div.field-wrapper {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    overflow: auto;
    border-color: lightgray;
}

div.row {
    padding: 15px;
}

.errorlist {
    color: red;
}
