div.field-wrapper {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    overflow: auto;
    border-color: lightgray;
}

.keydata-form {
    margin: 0.9375rem;
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
}

.errorlist {
    color: red;
}

.keydata-form .generate_forms {
    visibility: hidden;
}

.keydata-form:last-of-type .generate_forms {
    visibility: visible;
}

.help-text::after {
    content: "\2754";
}

.help-text label {
    display: inherit;
}
