.title-bar {
    background-color: #74020C;
}

.title-bar-title {
    font-size: 2em;
}

.title-bar ul {
    display: inline;
    vertical-align: middle;
    margin-left: 3em;
}

.title-bar li {
    margin: .75em;
    display: inline;
    font-size: 1.5em;
    vertical-align: middle;
}

.title-bar a:hover {
    color: #afafaf;
    cursor: pointer;
}

.title-bar a {
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
}
