.contact-form {
    width: 60%;
    margin: auto;
}

.title {
    padding-top: 1em;
    text-align: center;
}

.button {
    background-color: #80151b;
}

.button:hover, .button:focus {
    background-color: #80151b;
    color: #fefefe;
}
