
.request-list {
    margin-top: 2em;
    padding: 1em;
}

.request-list a {
    color: black;
}

.header.row {
    border-bottom: 1px solid black;
}

.request {
    padding: 3px;
}

.request:hover {
    background-color: #cecece;
}

.title {
    padding-top: .5em;
    margin: auto;
    width: 60%;
    text-align: center;
}

.search-form.search-active {
    display: block;
}

.search-form {
    margin: auto;
    border: 1px solid black;
    width: 60%;
    display: none;
    margin-top: 2em;
    margin-bottom: 2em;
}

.search-content {
    padding: 1em;
}

.content {
    background-color: white;
    width: 75%;
    margin: auto;
    margin-top: 3em;
}

.search-form br {
    line-height: .75;
}

.page-bar {
    width: 80%;
    margin: auto;
}

.page-bar ul {
    text-align: center;
}

.page {
    display: inline;
    padding: .5em;
    text-align: center;
}

.page a {
    color: black;
}

.current {
    border: .1em solid black;
    color: #74020C;
    padding: .25em;
}

a {
    text-decoration: none;
}

.header.row div.columns:hover {
    background-color: #cecece;
}

.header.row div.columns:hover {
    background-color: #cecece;
}

.asc:after {
    content: " \02191";
}

.desc:after {
    content: " \02193";
}
