.object-list {
    padding: 20px;
}

.header {
    border-bottom: 1px solid black;
}

.object {
    padding: 3px;
}

.object:hover {
    background-color: #cecece;
}

.title {
    padding-top: 1em;
    text-align: center;
}

.page-bar {
    width: 80%;
    margin: auto;
}
.page-bar ul {
    text-align: center;
}

.page {
    display: inline;
    padding: .5em;
    text-align: center;
}

.page a {
    color: black;
}

.current {
    border: .1em solid black;
    color: #74020C;
    padding: .25em;
}
