.object-list {
    margin-top: 2em;
    padding: 1em;
}

.header {
    border-bottom: 1px solid black;
}

.object {
    padding: 3px;
}

.object:hover {
    background-color: #cecece;
}

.title {
    margin: auto;
    width: 60%;
    padding-top: 1em;
    text-align: center;
}

.searchform {
    margin: auto;
    border: 1px solid black;
    width: 60%;
    display: none;
    margin-top: 2em;
    margin-bottom: 2em;
}

.searchcontent {
    padding: 1em;
}

.content {
    background-color: white;
    width: 75%;
    margin: auto;
    margin-top: 3em;
}

.searchform br {
    line-height: .75;
}
