.content-header {
    font-size: 2em;
    width: 75%;
    margin: auto;
    text-align: center;
    margin-top: .5em;
}

.content {
    width: 75%;
    margin: auto;
}

.info-row {
    width: 60%;
    margin-top: .5em;
    margin-bottom: .5em;
}

.info {
    margin-top: 3em;
}

.section {
    border: .1em solid black;
    border-radius: .75em;
    padding: .5em;
    margin-top: .2em;
    margin-bottom: 1em;
}

a {
    color: black;
}

select {
    width: 30%;
}

.section-header {
    font-weight: bold;
    font-style: italic;
}

.request-edit {
    text-align: center;
}

.comment-buttons {
    border: 1px solid black;
    cursor: pointer;
}

.button {
    background-color: #74020C;
}

.button:hover {
    background-color: #842929;
}

#comment-form, .add-comment #add {
    display: none;
}

.add-comment #comment-form {
    display: block;
}

.created {
    font-weight: bold;
}
