{% load i18n %}

<div class="keydata-form field-wrapper">
    <div class="large-3 columns text-left">
        {{ keydata_form.core_number.errors }}
         <span class="has-tip help-text" title="{{ keydata_form.core_number.help_text }}">{{ keydata_form.core_number.label_tag }}</span>
    </div>
        <div class="large-9 columns">
        <input type="button" class="generate_forms" value="{% trans 'Add Another Key' %}"/>
        <input type="button" class="delete_button" value="{% trans 'Delete' %}"/>
    </div>
    <div class="large-12 columns">
        {{ keydata_form.core_number }}
    </div>
    <div class="large-6 columns text-left">
        {{ keydata_form.key_type.errors }}
        {{ keydata_form.key_type.label_tag }}
        {{ keydata_form.key_type }}
    </div>
    <div class="large-6 columns">
        {{ keydata_form.room_number.errors }}
        {{ keydata_form.room_number.label_tag }}
        {{ keydata_form.room_number }}
    </div>
    <div class="large-6 columns">
        {{ keydata_form.key_number.errors }}
        {{ keydata_form.key_number.label_tag }}
        {{ keydata_form.key_number }}
    </div>
    <div class="large-6 columns">
        {{ keydata_form.quantity.errors }}
        <span class="has-tip help-text" title="{{ keydata_form.quantity.help_text }}">{{ keydata_form.quantity.label_tag }}</span>
        {{ keydata_form.quantity }}
    </div>
</div>
