{% extends "keyform/base.html" %}
{% load static %}
{% load i18n %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'keyform/js/add_form.js' %}"></script>
{% endblock %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'keyform/css/add_form.css' %}"/>
{% endblock %}

{% block content %}
    {{ block.super }}
    <form method=POST>
        {% csrf_token %}
        <div class="row field-wrapper">
            {{ form.non_field_errors }}
            <div class="large-6 columns">
                {{ form.request_formset.management_form }}
                {{ form.building.errors }}
                {{ form.building.label_tag }}
                {{ form.building }}
            </div>
            <div class="large-6 columns">
                {{ form.bpn.errors }}
                {{ form.bpn.label_tag }}
                {{ form.bpn }}
            </div>
            <div class="large-12 columns">
                {{ form.student_name.errors }}
                {{ form.student_name.label_tag }}
                {{ form.student_name }}
            </div>
            <div id="form-set">
                {% for keydata_form in form.request_formset.forms %}
                    {% include 'keyform/includes/keydata_form.html' %}
                {% endfor %}
            </div>
            <div id="empty_form" style="display:none">
                {% include 'keyform/includes/keydata_form.html' with keydata_form=form.request_formset.empty_form %}
            </div>
            <div class="row">
                <div class="large-6 columns">
                    {{ form.reason_for_request.errors }}
                    {{ form.reason_for_request.label_tag }}
                    {{ form.reason_for_request }}
                </div>
                <div class="large-6 columns">
                    {{ form.payment_method.errors }}
                    <span class="has-tip help-text" title="{{ form.payment_method.help_text }}">{{ form.payment_method.label_tag }}</span>
                    {{ form.payment_method }}
                </div>
            </div>
            <div class="large-6 columns">
                {{ form.amt_received.errors }}
                <span class="has-tip help-text" title="{{ form.amt_received.help_text }}">{{ form.amt_received.label_tag }}</span>
                {{ form.amt_received }}
            </div>
            <div class="large-6 columns">
                {{ form.charge_amount.errors }}
                {{ form.charge_amount.label_tag }}
                {{ form.charge_amount }}
            </div>
            <div class="large-12 columns">
                {{ form.charged_on_rcr.errors }}
                {{ form.charged_on_rcr.label_tag }}
                {{ form.charged_on_rcr }}
            </div>
            <div class="large-12 columns">
                {% if comment_errors %}
                    <ul class="errorlist">
                        {% for error in comment_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <span class="section-header">{% trans 'Comments:' %}</span>
                <textarea name="comment_text">{{ comment_text }}</textarea>
                <input type="submit"/>
            </div>
        </div>
    </form>
{% endblock %}
