{% extends "keyform/base.html" %}
{% load i18n %}

{% block content %}
    <form method=POST>
        {% csrf_token %}
        <div class="row">
            <div class="column">
                <div class="fieldWrapper">
                    {{ form.as_table }}
                    {{ keydata_formset.as_table }}
                    {{ keydata_formset.management_form }}
                </div>
                <button id="add another">Add New Field</button>
                <input type="submit"/>
            </div>
        </div>
    </form>
{% endblock %}
