{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
    <head>
        {% block css %}
            <link rel="stylesheet" type="text/css" href="{% static 'keyform/css/foundation_css/foundation.css' %}"/>
            <link rel="stylesheet" type="text/css" href="{% static 'keyform/css/font-awesome-4.6.3/css/font-awesome.min.css' %}"/>
            <link rel="stylesheet" type="text/css" href="{% static 'keyform/css/base.css' %}"/>
        {% endblock %}
        {% block javascript %}
            <script type="text/javascript" src="{% static 'keyform/js/libraries/jquery-2.1.4.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'keyform/js/libraries/jquery.tablesorter.js' %}"></script>
            <script type="text/javascript" src="{% static 'keyform/js/libraries/jquery.tablesorter.widgets.js' %}"></script>
            <script type="text/javascript" src="{% static 'keyform/js/libraries/foundation.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'keyform/js/base.js' %}"></script>
        {% endblock %}
        <title>{% block title %}{% trans 'Keyform' %}{% endblock %}</title>
    </head>
    <body>
        {% block body %}
            {% block header %}
            <div class="main-menu">
                <div class="title-bar">
                    <img src="{% static 'keyform/logo.jpg' %}"/>
                    <div class="title-bar-title">{% trans 'Keyform' %}</div>
                    {% block navigation %}
                        <ul>
                            <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
                            <li><a href="{% url 'create' %}">{% trans 'Create' %}</a></li>
                            <li><a href="{% url 'contact' %}">{% trans 'Contacts' %}</a></li>
                            <li><a href="{% url 'logout' %}">{% trans 'Logout' %}</a></li>
                        </ul>
                    {% endblock %}
                </div>
            </div>
            {% endblock %}
            {% block content %}

            {% endblock %}
        {% endblock %}
    </body>
</html>
