{% extends "keyform/base.html" %}
{% load i18n %}
{% load static %}
{% block css %}
    {{ block.super }}
    <link rel='stylesheet' type='text/css' href="{% static 'keyform/css/contact.css' %}"/>
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script src='{% static "keyform/js/contact.js" %}'></script>
{% endblock %}

{% block content %}
    {{ block.super }}
    <h2 class='title'>{% trans 'Contacts' %}</h2>
    <div class="contact-container">
        <div class='buildings'>
            {% for building in buildings %}
                <div class="building row">
                    <div class="large-12 columns">
                        <span class="building-name"> {{ building.name }} </span>
                    </div>
                </div>
                {% for contact in building.contact_set.all %}
                    <div class="contact row" data-pk='{{ contact.pk }}'>
                        {% if perms.keyform.change_contact %} <a href='{% url "edit-contact" pk=contact.pk %}'> {% endif %}
                            <div class="info">
                                <div class='large-4 columns'>
                                    <span class='contact-info'>{{ contact.name }}</span>
                                </div>
                                <div class='large-7 columns end'>
                                    <span class='contact-info'>{{ contact.email }}</span>
                                </div>
                            </div>
                        {% if perms.keyform.change_contact %}</a> {% endif %}
                        {% if perms.keyform.delete_contact %}<div class='large-1 columns delete'>X</div> {% endif %}
                    </div>

                {% endfor %}
                {% if perms.keyform.add_contact %}<a href="{% url 'create-contact' %}"><button class='button'>{% trans 'Create Contact' %}</button></a> {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
