{% extends "keyform/base.html" %}
{% load i18n %}
{% load static %}
{% block css %}
    {{ block.super }}
    <link rel='stylesheet' type='text/css' href="{% static 'keyform/css/home.css' %}"/>
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script src="{% static 'keyform/js/home.js' %}"></script>
{% endblock %}
{% block content %}
    {{ block.super }}
    <h2 class="title">{% trans 'Keyform Requests' %}</h2>
    {% include 'keyform/includes/searchtable.html' %}
    <div class="request-list">
        <div class="header row">
            {% include 'keyform/includes/header_link.html' with codename='created_timestamp' title='Date Submitted' %}
            {% include 'keyform/includes/header_link.html' with codename='building__name' title='Residence Hall' %}
            {% include 'keyform/includes/header_link.html' with codename='keydata__room_number' title='Room #' %}
            {% include 'keyform/includes/header_link.html' with codename='keydata__core_number' title='Core #' %}
            {% include 'keyform/includes/header_link.html' with codename='num_comments' title='Comments' %}
            {% include 'keyform/includes/header_link.html' with codename='status' title='Status' %}
        </div>
        {% for object in object_list %}
            <div class="request row">
                <a href = "{% url 'edit-request' pk=object.pk %}">
                    <div class="small-2 large-2 columns text-center">
                        {{ object.created_timestamp|date:"m/d/Y" }}
                    </div>
                    <div class="small-2 large-2 columns text-center">
                        {{ object.building }}
                    </div>
                    <div class="small-2 large-2 columns text-center">
                        {{ object.room_number_list|join:", " }}&nbsp;
                    </div>
                    <div class="small-2 large-2 columns text-center">
                        {{ object.core_number_list|join:", " }}&nbsp;
                    </div>
                    <div class="small-2 large-2 columns text-center">
                        {{ object.num_comments }}
                    </div>
                    <div class="small-2 large-2 columns text-center">
                        {{ object.status }}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

    {% if is_paginated %}
        <div class='page-bar'>
            <ul>
                <li class='page'><a href="?page=1&amp;{{ search_data.urlencode }}&amp;order={{ order }}">First</a></li>
                {% if page_obj.has_previous %}
                    <li class='page'><a href="?page={{ page_obj.previous_page_number }}&amp;{{ search_data.urlencode }}&amp;order={{ order }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled page"><span>&laquo;</span></li>
                {% endif %}
                {% if page_obj.number >= 3 %}
                    <li class='page'><a href="?page={{ page_obj.number|add:'-2' }}&amp;{{ search_data.urlencode }}&amp;order={{ order }}">{{ page_obj.number|add:"-2" }}</a></li>
                {% endif %}
                {% if page_obj.has_previous %}
                    <li class="page"><a href="?page={{ page_obj.previous_page_number }}&amp;{{ search_data.urlencode }}&amp;order={{ order }}">{{ page_obj.previous_page_number }}</a></li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="active page"><span class='current'>{{ i }}</span></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page"><a href="?page={{ page_obj.next_page_number }}&amp;{{ search_data.urlencode }}&amp;order={{ order }}">{{ page_obj.next_page_number }}</a></li>
                {% else %}
                <li class="disabled page"><span>&raquo;</span></li>
                {% endif %}
                {% if page_obj.number <= paginator.num_pages|add:"-2" %}
                    <li class='page'><a href="?page={{ page_obj.number|add:2 }}&amp;{{ search_data.urlencode }}&amp;order={{ order }}">{{ page_obj.number|add:2 }}</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                    <li class='page'><a href="?page={{ page_obj.next_page_number }}&amp;{{ search_data.urlencode }}&amp;page={{ order }}"><span>&raquo;</span></a></li>
                {% endif %}
                <li class='page'><a href="?page=last&amp;{{ search_data.urlencode }}&amp;order={{ order }}">Last</a></li>
            </ul>
        </div>
    {% endif %}
{% endblock %}
