{% extends "keyform/base.html" %}
{% load i18n %}
{% load static %}
{% block css %}
    {{ block.super }}
    <link rel='stylesheet' type='text/css' href="{% static 'keyform/css/home.css' %}"/>
{% endblock %}
{% block javascript %}
    {{ block.super }}
{% endblock %}
{% block content %}
    <div class="content">
        <h2 class="title">{% trans 'Keyform Requests' %}</h2>
        {% include 'keyform/searchtable.html' %}
        <div class="object-list">
            <div class="header row">
                <div class="small-3 large-3 columns text-center">
                    {% trans 'Date Submitted' %}
                </div>
                <div class="small-2 large-2 columns text-center">
                    {% trans 'Residence Hall' %}
                </div>
                <div class="small-2 large-2 columns text-center">
                    {% trans 'Room #' %}
                </div>
                <div class="small-2 large-2 columns text-center">
                    {% trans 'Core #' %}
                </div>
                <div class="small-1 large-1 columns text-center">
                    {% trans 'Comments' %}
                </div>
                <div class="small-2 large-2 columns text-center">
                    {% trans 'Status' %}
                </div>
            </div>
            {% for object in object_list %}
                <div class="object row">
                    <div class="small-3 large-3 columns text-center">
                        {{ object.created_timestamp|date:"m/d/Y" }}
                    </div>
                    <div class="small-2 large-2 columns text-center">
                        {{ object.building }}
                    </div>
                    <div class="small-2 large-2 columns text-center">
                        {% for key in object.keydata_set.all %}
                            {{ key.room_number }}{% if not forloop.last %}, {% endif %}
                        {% empty %}
                            &nbsp;
                        {% endfor %}
                    </div>
                    <div class="small-2 large-2 columns text-center">
                        {% for key in object.keydata_set.all %}
                            {{ key.new_core_number }}{% if not forloop.last %}, {% endif %}
                        {% empty %}
                            &nbsp;
                        {% endfor %}
                    </div>
                    <div class="small-1 large-1 columns text-center">
                        {{ object.comment_set.all.count }}
                    </div>
                    <div class="small-2 large-2 columns text-center">
                        {{ object.get_status_display }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
