{% extends "keyform/base.html" %}
{% load static %}
{% load i18n %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'keyform/css/add_form.css' %}"/>
{% endblock %}

{% block content %}
    <div class="row text-center">
        <div class="large-4 large-offset-4 columns end">
            {% load static %}
            <img src="{% static "keyform/bear-pass.png" %}" />
            <form method='post'>
                <span class="form-errors">{{ form.non_field_errors }}</span>
                {% for field in form %}
                    <p>{{ field.errors }}</p>
                    <div class="text-left">
                        {{ field.label }}
                        {{ field }}
                    </div>
                {% endfor %}
                {% csrf_token %}
                <input class="login-button" type='submit' value="{% trans "Log in" %}">
            </form>
        </div>
    </div>
{% endblock %}
