{% extends "keyform/base.html" %}
{% load i18n %}
{% load static %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href = "{% static 'keyform/css/request.css' %}"/>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="content-header">{% trans 'Update Key Request' %}</div>
        <div class="info">
            <strong><i>{% trans 'Info' %}</i></strong>
            <div class="section">
                <div class="row info-row">
                     <div class="large-6 columns">
                         {% trans 'Student Name' %}: {{ object.student_name }}
                     </div>
                     <div class="large-6 columns text-right">
                         {% trans 'Request for: Lost/Stolen Key' %}
                     </div>
                </div>
                <div class="row info-row">
                    <div class="large-6 columns">
                        {% trans 'Building Name' %}: {{ object.building }}
                    </div>
                </div>
                <hr width="70%">
                <div class="row info-row">
                    <div class="large-12 columns">
                        {% trans 'New Core #' %}:
                        {% for data in object.keydata_set.all %}
                            {{ data.new_core_number }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="row info-row">
                    <div class="large-3 columns">
                        {% trans 'Key Type' %}:
                        {% for data in object.keydata_set.all %}
                            {{ data.get_key_type_display }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                    <div class="large-4 columns">
                        {% trans 'Room #' %}:
                        {% for data in object.keydata_set.all %}
                            {{ data.room_number }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                    <div class="large-3 columns">
                        {% trans 'Key #' %}:
                        {% for data in object.keydata_set.all %}
                            {{ data.lost_key_number }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                    <div class="large-2 columns">
                        {% trans 'Quantity' %}:
                        {% for keydata in object.keydata_set.all %}
                            {{ keydata.quantity }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <hr width="70%">
                <div class="row info-row">
                    <div class="large-9 columns">
                        {% trans 'Amount Received' %}: {{ object.amt_recieved }}
                    </div>
                    <div class="large-3 columns">
                        {% trans 'Paid By' %}: {{ object.get_payment_method_display }}
                    </div>
                </div>
                <div class="row info-row">
                    <div class="large-9 columns">
                        {% trans 'Bill to Account' %}: {{ object.charge_amount }}
                    </div>
                    <div class="large-3 columns">
                        {% trans 'M-Number' %}: {{ object.bpn }}
                    </div>
                </div>
                <div class="row info-row">
                    <div class="large-9 columns">
                        {% trans 'Staff Name' %}: {{ object.staff }}
                    </div>
                    <div class="large-3 columns">
                        {% trans 'Charged on RCR' %}: {{ object.charged_on_rcr }}
                    </div>
                </div>
            </div>
            <br>
            <strong><i>{% trans 'Comments' %} </i></strong>
            <div class="section">
                {% for comment in object.comment_set.all %}
                    <div class="row info-row">
                        <div class="large-12 columns end">
                            {{ comment.created_timestamp|date:"m/d/Y" }}: <br>
                            {{ comment.message }}
                        </div>
                    </div>
                    {% if not forloop.last %}<hr width="70%">{% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row info-row">
            <div class="large-6 columns text-right">
                {% trans 'Current Status' %}: {{ object.get_status_display }}
                {% trans 'Update' %}
                {% trans 'Delete' %}
            </div>
            <div class="large-6 columns text-left">
            </div>
        </div>
    </div>
{% endblock %}
