{% extends "keyform/base.html" %}
{% load i18n %}
{% load static %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href = "{% static 'keyform/css/request.css' %}"/>
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script src="{% static 'keyform/js/request.js' %}"></script>
    <script>
        var COMMENT_URL = "{% url 'add-comment' %}";
        var COMMENT_HTML = "{% filter escapejs %}{% include 'keyform/comment_template.html' %}{% endfilter %}";
    </script>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="content-header">{% trans 'Update Key Request' %}</div>
        <div class="info">
            <div class="row">
                <div class="large-12 columns text-right">
                    <span class='created'> {% trans 'Created' %}: {{ object.created_timestamp }}</span>
                </div>
            </div>
            <div class="section" id='key-section' data-pk="{{ object.pk }}">
                <div class="row info-row">
                     <div class="large-6 columns">
                         {% trans 'Student Name' %}: {{ object.student_name }}
                     </div>
                     <div class="large-6 columns text-right">
                         {% trans 'Request for' %}: {{ object.get_reason_for_request_display }}
                     </div>
                </div>
                <div class="row info-row">
                    <div class="large-12 columns">
                        {% trans 'Building Name' %}: {{ object.building }}
                    </div>
                </div>
                <hr width="70%">
                <div class="row info-row">
                    <div class="large-12 columns">
                        {% trans 'Core #' %}:
                        {% for data in object.keydata_set.all %}
                            {{ data.core_number }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="row info-row">
                    <div class="large-3 columns">
                        {% trans 'Key Type' %}:
                        {% for data in object.keydata_set.all %}
                            {{ data.get_key_type_display }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                    <div class="large-4 columns">
                        {% trans 'Room #' %}:
                        {% for data in object.keydata_set.all %}
                            {{ data.room_number }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                    <div class="large-3 columns">
                        {% trans 'Key #' %}:
                        {% for data in object.keydata_set.all %}
                            {{ data.key_number }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                    <div class="large-2 columns">
                        {% trans 'Quantity' %}:
                        {% for keydata in object.keydata_set.all %}
                            {{ keydata.quantity }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <hr width="70%">
                <div class="row info-row">
                    <div class="large-9 columns">
                        {% trans 'Amount Received' %}: {{ object.amt_received }}
                    </div>
                    <div class="large-3 columns">
                        {% trans 'Paid By' %}: {{ object.get_payment_method_display }}
                    </div>
                </div>
                <div class="row info-row">
                    <div class="large-9 columns">
                        {% trans 'Bill to Account' %}: {{ object.charge_amount }}
                    </div>
                    <div class="large-3 columns">
                        {% trans 'M-Number' %}: {{ object.bpn }}
                    </div>
                </div>
                <div class="row info-row">
                    <div class="large-9 columns">
                        {% trans 'Staff Name' %}: {{ object.staff.get_full_name }}
                    </div>
                    <div class="large-3 columns">
                        {% trans 'Charged on RCR' %}: {{ object.charged_on_rcr }}
                    </div>
                </div>
            </div>
            <br>
            <form method="POST">
                {% csrf_token %}
                <div class='request-edit'>
                    {% for field in form %}
                        {{ field.label }}: {{ field }}
                    {% endfor %}
                    <input type="submit" value="{% trans 'Update' %}"/>
                </div>
            </form>
        </div>
        <div id='comments' class="section">
            {% with comments=object.comment_set.all %}
                <span class="section-header">{% trans 'Comments' %} </span>
                <div id="comment-list">
                    {% for comment in comments %}
                        {% include 'keyform/comment_template.html' %}
                    {% endfor %}
                </div>
            {% endwith %}
            <div id='comment-form'>
                <p>{% trans 'New Comment:' %}</p>
                <textarea id="comment-text" cols="40" rows="4"></textarea>
                <span class='button small' type='button' id='submit'>{% trans 'Submit' %}</span>
                <span class='button small' type='button' id='cancel'>{% trans 'Cancel' %}</span>
            </div>
            <span class='button small' type='button' id='add'>{% trans 'Add a comment' %}</span>
        </div>
    </div>
{% endblock %}
