{% extends "keyform/base.html" %}
{% load i18n %}
{% load static %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href = "{% static 'keyform/css/request.css' %}"/>
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script src="{% static 'keyform/js/request.js' %}"></script>
    <script>
        var COMMENT_URL = "{% url 'add-comment' %}";
        var COMMENT_HTML = "{% filter escapejs %}{% include 'keyform/comment_template.html' %}{% endfilter %}";
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="content">
        <div class="content-header hide-for-print">{% trans 'Update Key Request' %}</div>
        <div class="info">
            <div class="row">
                <div class="small-6 columns">
                    <span class='created'> {% trans 'Created' %}: {{ object.created_timestamp }}</span>
                </div>
                <div class="small-6 columns text-right">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="request-edit">
                            {% for field in form %}
                                {{ field.label }}: {{ field }}
                            {% endfor %}
                            <input type="submit" value="{% trans 'Update' %}" class="hide-for-print"/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="medium-7 small-7 columns">
                    <div class="section" id="key-section" data-pk="{{ object.pk }}">
                        <div class="row info-row">
                             <div class="large-12 columns">
                                 <span class="section-header">{% trans 'Basic Info' %}</span>
                             </div>
                             <div class="large-7 columns">
                                 {% trans 'Student Name' %}: <span class="section-info">{{ object.student_name }}</span>
                             </div>
                             <div class="large-5 columns">
                                 {% trans 'Request for' %}: <span class="section-info">{{ object.get_reason_for_request_display }}</span>
                             </div>
                        </div>
                        <div class="row info-row">
                            <div class="large-12 columns">
                                {% trans 'Building Name' %}: <span class="section-info">{{ object.building }}</span>
                            </div>
                        </div>
                        <div class="row info-row">
                            <div class="large-7 columns">
                                {% trans 'Amount Received' %}: <span class="section-info">{{ object.amt_received }}</span>
                            </div>
                            <div class="large-5 columns">
                                {% trans 'Paid By' %}: <span class="section-info">{{ object.get_payment_method_display }}</span>
                            </div>
                        </div>
                        <div class="row info-row">
                            <div class="large-7 columns">
                                {% trans 'Bill to Account' %}: <span class="section-info">{{ object.charge_amount }}</span>
                            </div>
                            <div class="large-5 columns">
                                {% trans 'M-Number' %}: <span class="section-info">{{ object.bpn }}</span>
                            </div>
                        </div>
                        <div class="row info-row">
                            <div class="large-7 columns">
                                {% trans 'Submitted by' %}: <span class="section-info">{{ object.staff.get_full_name }}</span>
                            </div>
                            <div class="large-5 columns">
                                {% trans 'Charged on RCR' %}: {% if object.charged_on_rcr %} <i class="fa fa-check section-info" aria-hidden="true"> {% trans 'Yes' %}</i> {% else %} <i class="fa fa-times section-info" aria-hidden="true"> {% trans 'No' %}</i> {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="medium-5 small-5 columns">
                    <div class="section">
                        <div class="row info-row">
                            <div class="large-12 columns">
                                <span class="section-header">{% trans 'Keydata' %}</span>
                            </div>
                        </div>
                        {% for data in object.keydata_set.all %}
                            <div class="row info-row">
                                {% if not data.key_type.hide_core_number %}
                                    <div class="large-4 columns">{% trans 'New Core #' %}: <span class="section-info">{{ data.core_number }}</span></div>
                                {% endif %}
                                <div class="large-4 columns">{% trans 'Room #' %}: <span class="section-info">{{ data.room_number }}</span></div>
                                <div class="large-4 columns">{% trans 'Lost/Stolen/Damaged Key #' %}: <span class="section-info">{{ data.key_number }}</span></div>
                            </div>
                            <div class="row info-row">
                                <div class="large-8 columns">{% trans 'Key Type' %}: <span class="section-info">{{ data.key_type }}</span></div>
                                <div class="large-4 columns">{% trans 'Quantity' %}: <span class="section-info">{{ data.quantity }}</span></div>
                            </div>
                            {% if not forloop.last %}<hr width="80%">{% endif %}
                        {% endfor %}
                    </div>
                </div>
            <br>
        </div>
        <div class="row">
            <div id="comments" class="section">
                {% with comments=object.comment_set.all %}
                    <span class="section-header">{% trans 'Comments' %} </span>
                    <div id="comment-list">
                        {% for comment in comments %}
                            {% include 'keyform/comment_template.html' %}
                        {% endfor %}
                    </div>
                {% endwith %}
                <div id="comment-form">
                    <div class="hide-for-print">
                        <p>{% trans 'New Comment:' %}</p>
                        <textarea id="comment-text" cols="40" rows="4"></textarea>
                        <span class='button small' type='button' id='submit'>{% trans 'Submit' %}</span>
                        <span class='button small' type='button' id='cancel'>{% trans 'Cancel' %}</span>
                    </div>
                </div>
                <div class="hide-for-print">
                    <span class="button small" type="button" id="add">{% trans 'Add a comment' %}</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
